.p{
    font-family: Arial;
}

.freecodecamp-para{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;

}

.freecodecamp-part{
    color: rgb(99, 99, 99);
    font-size: 22px;
}

.web-developer-para{
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 600px;
}

.new-developers-para{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.new-developer-line{
    color: rgb(82, 153, 221);
}