p{
        font-family: Verdana;
        margin-top: 0;
        margin-bottom: 0;
    }

    .course{
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 27px;
        margin-bottom: 6px;

    }

    .pro{
        color: rgb(86, 84, 84, 0.626);
        font-size: 23px;
        margin-bottom: 17px;
    }

    .become-developer{
        color: rgb(0, 0, 0);
        font-size: 20px;
        width: 350px;

    }